/*!Reset*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  background: -webkit- linear-gradient(45deg, #027402, white);
  background: -moz- linear-gradient(45deg, #027402, white);
  background: linear-gradient(45deg, #027402, white);
}

body p {
  font-family: "Mukta", sans-serif;
  color: #fff;
  padding-left: 20px;
}

body h3 {
  font-family: "Cabin", sans-serif;
  color: #fff;
  padding-left: 20px;
}

body h1 {
  background: linear-gradient(45deg, #027402, white);
  font-family: "Libre Baskerville", serif;
}

body a {
  text-decoration: none;
  color: #ffffff;
}

body a:hover {
  color: black;
}

.responsivHeader {
  padding: 0 !important;
}

.container-fluid {
  margin: 0 !important;
}

.hiddenLogo {
  display: none;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

a.btn.btn-primary,
button.btn.btn-primary {
  background: #3498db !important;
  border-color: #0f9b0f;
  color: #fff;
  -webkit-box-shadow: 0 0 40px 40px #0f9b0f inset, 0 0 0 0 #0f9b0f;
          box-shadow: 0 0 40px 40px #0f9b0f inset, 0 0 0 0 #0f9b0f;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

a.btn.btn-primary:hover,
button.btn.btn-primary:hover {
  -webkit-box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
          box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

a.navbar-brand {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 30px;
  color: #45b649 !important;
}

nav.navbar-light .navbar-nav .nav-link {
  font-size: 1rem;
  line-height: 1rem;
  display: block;
  font-family: sans-serif;
  font-size: 1 rem;
  text-decoration: none;
  color: black;
  position: relative;
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  z-index: 1;
}

nav.navbar-light .navbar-nav .nav-link:after {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
  right: 1.25rem;
  left: 1.25rem;
  background-color: #0f9b0f;
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  z-index: -1;
}

nav.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

nav.navbar-light .navbar-nav .nav-link:hover:after {
  right: 0;
  left: 0;
  height: 100%;
}

.dropdown-menu {
  opacity: 1 !important;
}

.info_li {
  font-family: "Ramaraja", serif;
  font-size: 1.2rem;
  color: black;
  list-style: circle;
}

a.dropdown-item {
  color: green !important;
  text-decoration: none !important;
}

li.nav-item.dropdown {
  position: relative;
}

ul.dropdown-menu {
  display: none;
  margin-bottom: -350px;
}

li.nav-item.dropdown:hover ul.dropdown-menu {
  display: block;
  position: absolute;
  top: 34px;
  z-index: 9999;
}

.img-social {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.img-social:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.bot-header {
  border-radius: 15px 15px;
}

.info-text-club::before {
  content: url(../img/historyimg.jpg);
}

.info-block {
  background-image: url(../img/image.jfif);
  background-repeat: no-repeat;
  background-size: cover;
}

a.navbar-brand {
  list-style: none;
}

li {
  list-style: circle;
  color: #0f9b0f;
  list-style: none;
}

.breadcrumb-link {
  color: #027402;
  text-decoration: none;
}

.breadcrumb-link:hover {
  color: #ffffff;
}

.txt {
  color: #2d2d2d;
  padding-left: 0;
  font-family: "Ramaraja", serif;
  font-size: 1.2rem;
}

.info-span {
  font-family: "Fredericka the Great", cursive;
  display: block;
  background-color: #0f9b0f;
  color: #fff;
  padding: 5px;
  -webkit-transform: skew(170deg);
          transform: skew(170deg);
}

.stadium-info {
  font-size: 1.3rem;
  font-family: "Cabin", sans-serif;
  font-style: italic;
}

img.img_adm {
  border-radius: 50%;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.img_adm:hover {
  -webkit-box-shadow: inset 0px 0px 10px 10px #1fa15a, 0px 5px 10px 10px #1fa15a;
          box-shadow: inset 0px 0px 10px 10px #1fa15a, 0px 5px 10px 10px #1fa15a;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.black-span {
  font-weight: bold;
}

@media (max-width: 321px) {
  img.img_adm {
    margin-left: 60px;
    margin-bottom: 10px;
    border-radius: 50%;
  }
  .tel {
    font-size: 14px;
  }
}

.icons {
  width: 30px;
  height: 30px;
}

.icons:hover {
  fill: #0f9b0f !important;
}

@media (max-width: 320px) {
  nav.navbar-light .navbar-nav .nav-link {
    font-size: 1rem;
    line-height: 1rem;
    display: block;
    font-family: sans-serif;
    font-size: 1 rem;
    text-decoration: none;
    color: black;
    position: relative;
    z-index: auto;
    font-size: 20px;
    text-align: center;
    font-family: "Caveat", cursive;
    font-size: 1.5rem;
    padding: 10px;
    font-weight: bold;
  }
  li.nav-item {
    background: #84f584;
    margin-top: 5px;
  }
  .header-top {
    display: block !important;
  }
  .hiddenLogo {
    display: inline-block;
  }
  .hidden {
    display: none;
  }
  .logo {
    display: none;
  }
}

@media (max-width: 375px) {
  nav.navbar-light .navbar-nav .nav-link {
    font-size: 1rem;
    line-height: 1rem;
    display: block;
    font-family: sans-serif;
    font-size: 1 rem;
    text-decoration: none;
    color: black;
    position: relative;
    z-index: auto;
    font-size: 20px;
    text-align: center;
    font-family: "Caveat", cursive;
    font-size: 1.5rem;
    padding: 10px;
    font-weight: bold;
  }
  button.navbar-toggler,
  button.navbar-toggler.collapsed {
    margin-right: 20px;
  }
  li.nav-item {
    background: #84f584;
    margin-top: 5px;
  }
  .header-top {
    display: block !important;
  }
  .hiddenLogo {
    display: inline-block;
  }
  .hidden {
    display: none;
  }
  .logo {
    display: none;
  }
}

@media (max-width: 425px) {
  nav.navbar-light .navbar-nav .nav-link {
    font-size: 1rem;
    line-height: 1rem;
    display: block;
    font-family: sans-serif;
    font-size: 1 rem;
    text-decoration: none;
    color: black;
    position: relative;
    z-index: auto;
    font-size: 20px;
    text-align: center;
    font-family: "Caveat", cursive;
    font-size: 1.5rem;
    padding: 10px;
    font-weight: bold;
  }
  button.navbar-toggler,
  button.navbar-toggler.collapsed {
    margin-right: 25px;
  }
  li.nav-item {
    background: #84f584;
    margin-top: 5px;
  }
  .header-top {
    display: block !important;
  }
  .hiddenLogo {
    display: inline-block;
  }
  .hidden {
    display: none;
  }
  .logo {
    display: none;
  }
}

@media (max-width: 768px) {
  nav.navbar-light .navbar-nav .nav-link {
    font-size: 1rem;
    line-height: 1rem;
    display: block;
    font-family: sans-serif;
    font-size: 1 rem;
    text-decoration: none;
    color: black;
    position: relative;
    z-index: auto;
    font-size: 20px;
    text-align: center;
    font-family: "Caveat", cursive;
    font-size: 1.5rem;
    padding: 10px;
    font-weight: bold;
  }
  button.navbar-toggler,
  button.navbar-toggler.collapsed {
    margin-right: 25px;
  }
  li.nav-item {
    background: #84f584;
    margin-top: 5px;
  }
  .header-top {
    display: block !important;
  }
  .hiddenLogo {
    display: inline-block;
  }
  .hidden {
    display: none;
  }
  .logo {
    display: none;
  }
}

.li-radivon {
  font-family: "Cabin", sans-serif;
  color: black;
}

.li-radivon span {
  color: #3498db;
  font-weight: bold;
}

.li-radivon span:hover {
  color: #0f9b0f;
}

.li-radivon a {
  font-weight: bold;
  color: #0f9b0f;
  text-decoration: none;
}

.yandex-link {
  text-decoration: none;
}

.yandex-link:hover {
  color: #fff;
}

.item_strukt {
  font-family: "Libre Baskerville", serif;
  font-size: 1.3em;
  list-style: circle;
  color: #2d2d2d;
}

.title_strukt {
  background: linear-gradient(45deg, #027402, white);
  padding: 5px;
}

.title-clubs {
  text-shadow: 5px 1px 2px white;
  padding: 5px;
}

.dash {
  position: relative;
  list-style: none;
  font-family: "Caveat", cursive;
  font-size: 1.7rem;
  color: #2d2d2d;
}

.dash::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 13px;
  width: 20px;
  height: 2px;
  background: #fff;
}

.li-stadium {
  font-family: "Caveat", cursive;
  font-size: 1.5rem;
  color: black;
}

.title-adress {
  font-family: "Fredericka the Great", cursive;
  background: #0f9b0f;
  padding: 7px;
  -webkit-transform: skew(170deg);
          transform: skew(170deg);
}

.phone-link {
  color: #3498db !important;
}

.phone-link:hover {
  color: #fff !important;
}

.text-training {
  font-family: "Mukta", sans-serif;
  font-size: 1.3rem;
  color: #fff;
}

.price {
  font-family: "Mukta", sans-serif;
}

.text-trainingg {
  font-family: "Libre Baskerville", serif;
  font-size: 1.5rem;
  color: #2d2d2d;
  background: #fff;
  -webkit-transform: skew(170deg);
          transform: skew(170deg);
}

.black-spans {
  font-family: "Ramaraja", serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.info-spans {
  font-family: "Ramaraja", serif;
  font-size: 1.3rem;
}

.txt_training {
  font-family: "Ramaraja", serif;
  font-size: 1.5rem;
  color: #fff;
}

.phone-links {
  text-decoration: none;
  color: #2d2d2d;
}

.adres a {
  font-family: "Cabin", sans-serif;
  font-style: italic;
  font-size: 1.25rem;
  color: #fff;
  text-decoration: none;
}

.adress-text {
  font-size: 1.3rem;
  font-family: "Cabin", sans-serif;
  font-style: italic;
  color: black;
}

.form-label {
  color: #fff;
}

.fotorama {
  max-width: 800px;
  margin: 0 auto;
}

footer .iconss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 40px;
}

footer .iconss:hover {
  fill: #0f9b0f;
}

footer .insta {
  fill: #e6e5e5;
  fill-opacity: 0.5;
  margin-left: 30px;
}

footer .twit {
  fill: #e6e5e5;
  fill-opacity: 0.5;
  margin-left: 15px;
}

footer .vk {
  fill: #e6e5e5;
  fill-opacity: 0.5;
}

footer .yt {
  fill: #e6e5e5;
  fill-opacity: 0.5;
  margin-left: 10px;
}

.footer-color {
  background-color: #423f42;
}

@media (max-width: 1024px) {
  .colgomel {
    margin-left: 0px;
  }
}

.logotext {
  font-family: "Lora", serif;
  font-size: 1.3rem;
  color: white;
  text-shadow: 4px 1px 8px #14ff0a;
}

@media (max-width: 425px) {
  .colform textarea {
    width: 97% !important;
  }
  .colform input {
    width: 97% !important;
  }
}

.title-footer {
  background: #fff;
  border-radius: 15px;
  color: #ffffff;
  opacity: 0.8;
}

@media (max-width: 425px) {
  .title-footer {
    margin-left: 10px;
  }
  .colform {
    margin-bottom: 10px;
    margin-left: 6px;
  }
  div.col-sm.colform button.btn.btn-primary {
    margin-left: 100px;
  }
}

.footer-social {
  font-family: "Permanent Marker", cursive;
  font-size: 1rem;
  color: #fff;
}

.footer-menu {
  font-family: "Fredericka the Great", cursive;
  font-size: 1.3rem;
}

.footer-menu:hover {
  color: bisque;
}

.text-contact {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.2rem;
}

.phone:hover {
  color: #45b649;
}

.mail:hover {
  color: #3498db;
}

.phone-footer {
  height: 30px;
  width: 20px;
  padding-bottom: 5px;
  padding-right: 5px;
  fill: #fff;
}

.mail-footer {
  height: 30px;
  width: 20px;
  fill: #fff;
  padding-bottom: 4px;
}
