@import "reset.scss";
@import "variables.scss";

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background: -webkit- $background;
  background: -moz- $background;
  background: $background;
  a {
    text-decoration: none;
    color: black;
  }
}
@media (max-width: 1024px) {
  .social {
    padding-right: 0px;
    margin-top: 15px;
  }
}
.responsivHeader {
  padding: 0 !important;
}
.hiddenLogo {
  display: none;
}
.header-top {
  display: flex;
  justify-content: space-around;
}

.icons {
  width: 30px;
  height: 30px;
  &:hover {
    fill: $color !important;
  }
}
.container-fluid {
  margin: 0 !important;
}
a.btn.btn-primary,
button.btn.btn-primary {
  @include btn-prm;
  &:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }
}
a.navbar-brand {
  @include nav-brand;
}
nav.navbar-light .navbar-nav .nav-link {
  @include nav-light;
}

a.dropdown-item {
  color: green !important;
  text-decoration: none !important;
}
li.nav-item.dropdown {
  position: relative;
}
ul.dropdown-menu {
  display: none;
  margin-bottom: -350px;
}
li.nav-item.dropdown:hover {
  ul.dropdown-menu {
    display: block;
    position: absolute;
    top: 34px;
    z-index: 9999;
  }
}
.header-top {
  display: flex;
  justify-content: space-around;
}
.img-social {
  transition: all 1s ease-out;
}
.img-social:hover {
  transform: scale(1.3);
}
.bot-header {
  border-radius: 15px 15px;
}
@media (max-width: 320px) {
  @include responsiv_four;
}
@media (max-width: 375px) {
  @include responsiv_three;
}
@media (max-width: 425px) {
  @include responsiv_two;
}
@media (max-width: 768px) {
  @include responsiv;
}
.logotext {
  @include logotext;
}
.title-abonents {
  background: $background;
  padding: 5px;
}
.abonenets-links {
  font-size: 1.2rem;
  font-family: "Courgette", cursive;
  background: $background;
  padding: 5px;
  opacity: 0.7;
  transform: skew(170deg);
  display: block;
}
h4 {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  text-decoration: underline;
  color: $color;
}
.aboniments-text {
  font-family: "Courgette", cursive;
  font-size: 1.2em;
}

.tel-aboniments {
  color: #3498db;
}
.black-span {
  font-weight: bold;
}
.dash {
  position: relative;
  list-style: none;
  font-family: "Ramaraja", serif;
  font-size: 1.5rem;
}
.dash::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 13px;
  width: 20px;
  height: 2px;
  background: #00a750;
}
footer {
  @include footer;
}
.footer-color {
  background-color: rgb(66, 63, 66);
}
@media (max-width: 1024px) {
  .colgomel {
    margin-left: 0px;
  }
}
.logotext {
  font-family: "Lora", serif;
  font-size: 1.3rem;
  color: white;
  text-shadow: 4px 1px 8px #14ff0a;
}
@media (max-width: 425px) {
  .colform {
    textarea {
      width: 97% !important;
    }
    input {
      width: 97% !important;
    }
  }
}
.title-footer {
  @include title-footer;
}
.form-label {
  color: #fff;
}
@media (max-width: 425px) {
  .title-footer {
    margin-left: 10px;
  }
  .colform {
    margin-bottom: 10px;
    margin-left: 6px;
  }
  div.col-sm.colform {
    button.btn.btn-primary {
      margin-left: 100px;
    }
  }
}
.footer-social {
  @include footer-social;
}
.footer-menu {
  @include footer-menu;
}
.text-contact {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.2rem;
}
.phone {
  color: #3498db;
  &:hover {
    color: #45b649;
  }
}
.mail {
  color: #45b649;
  &:hover {
    color: #3498db;
  }
}
.phone-footer {
  @include phone-footer;
}
.mail-footer {
  @include mail-footer;
}
@media (max-width: 426px) {
  @include responsiv_four;
}
