@import "reset.scss";
@import "variables.scss";
body {
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background: -webkit- $background;
  background: -moz- $background;
  background: $background;
  a {
    text-decoration: none;
    color: #ffffff;
    &:hover {
      color: black;
    }
  }
}

.icons {
  width: 30px;
  height: 30px;
  &:hover {
    fill: #0f9b0f !important;
  }
}
@media (max-width: 426px) {
  .slider__thumbnails {
    display: none;
  }
}
.hiddenLogo {
  display: none;
}
.header-top {
  display: flex;
  justify-content: space-around;
}
.container-fluid {
  margin: 0 !important;
}
a.btn.btn-primary,
button.btn.btn-primary {
  @include btn-prm;
  &:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }
}
@media (max-width: 320px) {
  @include responsiv_four;
}
@media (max-width: 375px) {
  @include responsiv_three;
}
@media (max-width: 425px) {
  @include responsiv_two;
}
@media (max-width: 768px) {
  @include responsiv;
}
a.navbar-brand {
  @include nav-brand;
}
nav.navbar-light .navbar-nav .nav-link {
  @include nav-light;
}

@media (max-width: 426px) {
  .navigation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  button#dropdownMenuButton1.btn.btn-primary.dropdown-toggle {
    width: 300px;
  }
}
.responsivHeader {
  padding: 0 !important;
}
.modal-text {
  font-family: "Libre Baskerville", serif;
  &:before {
    content: url(../img/multimedia/time.png);
    vertical-align: middle;
    padding-right: 5px;
  }
}

.foto-title {
  @include foto-title;
}
.card-title {
  font-family: "Ramaraja", serif;
  font-weight: bold;
  font-size: 1.4rem;
}
.modal-title {
  background: #0f9b0f;
  padding: 5px;
  transform: skew(170deg);
  text-align: center !important;
}
a.dropdown-item {
  color: green !important;
  text-decoration: none !important;
}
li.nav-item.dropdown {
  position: relative;
}
ul.dropdown-menu {
  display: none;
  margin-bottom: -350px;
}
li.nav-item.dropdown:hover {
  ul.dropdown-menu {
    display: block;
    position: absolute;
    top: 34px;
    z-index: 9999;
  }
}
.img-social {
  transition: all 1s ease-out;
}
.img-social:hover {
  transform: scale(1.3);
}
.bot-header {
  border-radius: 15px 15px;
}
@media (max-width: 426px) {
  .col-sm {
    margin-bottom: 10px;
  }
  .one {
    padding: 0;
    margin: 0;
  }
  .multi-title {
    padding-right: 30px;
  }
}
.breadcrumb-link {
  @include breadcrumb-link;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
footer {
  @include footer;
}
.footer-color {
  background-color: rgb(66, 63, 66);
}
@media (max-width: 1024px) {
  .colgomel {
    margin-left: 0px;
  }
}
.logotext {
  font-family: "Lora", serif;
  font-size: 1.3rem;
  color: white;
  text-shadow: 4px 1px 8px #14ff0a;
}
@media (max-width: 425px) {
  .colform {
    textarea {
      width: 97% !important;
    }
    input {
      width: 97% !important;
    }
  }
}
.title-footer {
  @include title-footer;
}
@media (max-width: 425px) {
  .title-footer {
    margin-left: 10px;
  }
  .colform {
    margin-bottom: 10px;
    margin-left: 6px;
  }
  div.col-sm.colform {
    button.btn.btn-primary {
      margin-left: 100px;
    }
  }
}
.footer-social {
  @include footer-social;
}
.form-label {
  color: #fff;
}
.footer-menu {
  @include footer-menu;
}
.text-contact {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.2rem;
}
.phone {
  &:hover {
    color: #3498db;
  }
}
.mail-info {
  fill: grey;
  height: 30px;
  width: 20px;
}
.mail {
  &:hover {
    color: #3498db;
  }
}
.phone-footer {
  @include phone-footer;
}
.mail-footer {
  @include mail-footer;
}
