@import "reset.scss";
@import "variables.scss";
body {
  background: -webkit- $background;
  background: -moz- $background;
  background: $background;
  p {
    font-family: "Mukta", sans-serif;
    color: #fff;
    padding-left: 20px;
  }
  h3 {
    font-family: "Cabin", sans-serif;
    color: #fff;
    padding-left: 20px;
  }
  h1 {
    background: $background;
    font-family: "Libre Baskerville", serif;
  }
  a {
    text-decoration: none;
    color: #ffffff;
    &:hover {
      color: black;
    }
  }
}
.responsivHeader {
  padding: 0 !important;
}
.container-fluid {
  margin: 0 !important;
}
.hiddenLogo {
  display: none;
}

.header-top {
  display: flex;
  justify-content: space-around;
}
a.btn.btn-primary,
button.btn.btn-primary {
  @include btn-prm;
  &:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }
}
a.navbar-brand {
  @include nav-brand;
}
nav.navbar-light .navbar-nav .nav-link {
  @include nav-light;
}
.dropdown-menu {
  opacity: 1 !important;
}
.info_li {
  font-family: "Ramaraja", serif;
  font-size: 1.2rem;
  color: black;
  list-style: circle;
}
a.dropdown-item {
  color: green !important;
  text-decoration: none !important;
}
li.nav-item.dropdown {
  position: relative;
}
ul.dropdown-menu {
  display: none;
  margin-bottom: -350px;
}
li.nav-item.dropdown:hover {
  ul.dropdown-menu {
    display: block;
    position: absolute;
    top: 34px;
    z-index: 9999;
  }
}
.img-social {
  transition: all 1s ease-out;
}
.img-social:hover {
  transform: scale(1.3);
}
.bot-header {
  border-radius: 15px 15px;
}
.info-text-club::before {
  content: url(../img/historyimg.jpg);
}
.info-block {
  background-image: url(../img/image.jfif);
  background-repeat: no-repeat;
  background-size: cover;
}
a.navbar-brand {
  list-style: none;
}
li {
  list-style: circle;
  color: #0f9b0f;
  list-style: none;
}

.breadcrumb-link {
  @include breadcrumb-link;
}

.txt {
  color: #2d2d2d;
  padding-left: 0;
  font-family: "Ramaraja", serif;
  font-size: 1.2rem;
}
.info-span {
  font-family: "Fredericka the Great", cursive;
  display: block;
  background-color: #0f9b0f;
  color: #fff;
  padding: 5px;
  transform: skew(170deg);
}
.stadium-info {
  font-size: 1.3rem;
  font-family: "Cabin", sans-serif;
  font-style: italic;
}
img.img_adm {
  border-radius: 50%;
  transition: all 1s ease-out;
}
.img_adm:hover {
  box-shadow: inset 0px 0px 10px 10px rgb(31, 161, 90), 0px 5px 10px 10px rgb(31, 161, 90);
  transform: scale(1.1);
}
.black-span {
  font-weight: bold;
}
@media (max-width: 321px) {
  img.img_adm {
    margin-left: 60px;
    margin-bottom: 10px;
    border-radius: 50%;
  }
  .tel {
    font-size: 14px;
  }
}
.icons {
  width: 30px;
  height: 30px;
  &:hover {
    fill: #0f9b0f !important;
  }
}
@media (max-width: 320px) {
  @include responsiv_four;
}
@media (max-width: 375px) {
  @include responsiv_three;
}
@media (max-width: 425px) {
  @include responsiv_two;
}
@media (max-width: 768px) {
  @include responsiv;
}
.li-radivon {
  font-family: "Cabin", sans-serif;
  color: black;
  span {
    color: #3498db;
    font-weight: bold;
    &:hover {
      color: $color;
    }
  }
  a {
    font-weight: bold;
    color: #0f9b0f;
    text-decoration: none;
  }
}
.yandex-link {
  text-decoration: none;
  &:hover {
    color: #fff;
  }
}
.item_strukt {
  font-family: "Libre Baskerville", serif;
  font-size: 1.3em;
  list-style: circle;
  color: #2d2d2d;
}
.title_strukt {
  background: $background;
  padding: 5px;
}
.title-clubs {
  text-shadow: 5px 1px 2px rgba(255, 255, 255, 1);
  padding: 5px;
}
.dash {
  position: relative;
  list-style: none;
  font-family: "Caveat", cursive;
  font-size: 1.7rem;
  color: #2d2d2d;
}
.dash::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 13px;
  width: 20px;
  height: 2px;
  background: #fff;
}
.li-stadium {
  font-family: "Caveat", cursive;
  font-size: 1.5rem;
  color: black;
}
.title-adress {
  font-family: "Fredericka the Great", cursive;
  background: $color;
  padding: 7px;
  transform: skew(170deg);
}
.phone-link {
  color: #3498db !important;
  &:hover {
    color: #fff !important;
  }
}

.text-training {
  font-family: "Mukta", sans-serif;
  font-size: 1.3rem;
  color: #fff;
}
.price {
  font-family: "Mukta", sans-serif;
}
.text-trainingg {
  font-family: "Libre Baskerville", serif;
  font-size: 1.5rem;
  color: #2d2d2d;
  background: #fff;
  transform: skew(170deg);
}
.black-spans {
  font-family: "Ramaraja", serif;
  font-size: 1.5rem;
  font-weight: bold;
}
.info-spans {
  font-family: "Ramaraja", serif;
  font-size: 1.3rem;
}
.txt_training {
  font-family: "Ramaraja", serif;
  font-size: 1.5rem;
  color: #fff;
}
.phone-links {
  text-decoration: none;
  color: #2d2d2d;
}
.adres {
  a {
    font-family: "Cabin", sans-serif;
    font-style: italic;
    font-size: 1.25rem;
    color: #fff;
    text-decoration: none;
  }
}
.adress-text {
  font-size: 1.3rem;
  font-family: "Cabin", sans-serif;
  font-style: italic;
  color: black;
}
.form-label {
  color: #fff;
}
.fotorama {
  max-width: 800px;
  margin: 0 auto;
}
footer {
  @include footer;
}
.footer-color {
  background-color: rgb(66, 63, 66);
}
@media (max-width: 1024px) {
  .colgomel {
    margin-left: 0px;
  }
}
.logotext {
  font-family: "Lora", serif;
  font-size: 1.3rem;
  color: white;
  text-shadow: 4px 1px 8px #14ff0a;
}
@media (max-width: 425px) {
  .colform {
    textarea {
      width: 97% !important;
    }
    input {
      width: 97% !important;
    }
  }
}
.title-footer {
  @include title-footer;
}
@media (max-width: 425px) {
  .title-footer {
    margin-left: 10px;
  }
  .colform {
    margin-bottom: 10px;
    margin-left: 6px;
  }
  div.col-sm.colform {
    button.btn.btn-primary {
      margin-left: 100px;
    }
  }
}
.footer-social {
  @include footer-social;
}
.footer-menu {
  @include footer-menu;
}
.text-contact {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.2rem;
}
.phone {
  &:hover {
    color: #45b649;
  }
}
.mail {
  &:hover {
    color: #3498db;
  }
}
.phone-footer {
  @include phone-footer;
}
.mail-footer {
  @include mail-footer;
}
